[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "vim/bundle/typescript-vim"]
	path = vim/bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "vim/bundle/vim-ember-hbs"]
	path = vim/bundle/vim-ember-hbs
	url = git@github.com:joukevandermaas/vim-ember-hbs.git
[submodule "vim/bundle/vim-stylus"]
	path = vim/bundle/vim-stylus
	url = git@github.com:wavded/vim-stylus.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "vim/bundle/vimproc.vim"]
	path = vim/bundle/vimproc.vim
	url = git@github.com:Shougo/vimproc.vim.git
[submodule "vim/bundle/tsuquyomi"]
	path = vim/bundle/tsuquyomi
	url = git@github.com:Quramy/tsuquyomi.git
